<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCG1pLVHRwmbyz0kIDHYw346vjZ6Mn3_cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>602166267311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baiaUi</string>
	<key>PROJECT_ID</key>
	<string>baia-1df5a</string>
	<key>STORAGE_BUCKET</key>
	<string>baia-1df5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602166267311:ios:c65b92374e256bd26df35a</string>
	<key>DATABASE_URL</key>
	<string>https://baia-1df5a-default-rtdb.firebaseio.com</string>
</dict>
</plist>